.env
*.env
*.exe
*.dll
*.bin
*.7z
*.zip
samples/
muestras/
muestras-cifradas/
reports/
evidence/
*.pcap
*.mitm
*.evtx
*.key
*.pem
wg*.conf
id_rsa*
mitm-ca.cer
config-templates/*.conf
!config-templates/*.template
*.tmp
*~
