# NUNCA subir secretos
.env
*.env
config-templates/*.conf
!config-templates/*.template
config-templates/inetsim.conf
config-templates/nftables.conf

# NUNCA subir muestras ni evidencia
*.exe
*.dll
*.bin
*.7z
*.zip
samples/
muestras/
reports/
evidence/
*.pcap
*.mitm
*.evtx
*.log

# Claves
*.key
*.pem
wg*.conf
id_rsa*

# Temporales
*.tmp
*~
.DS_Store
